# training generation (and other)
MAX_SENTENCE_LEN = 80

# word2vec settings
W2V_MIN_COUNT = 5
W2V_ITER = 10
W2V_SIZE = 300
W2V_WINDOW = 5
W2V_WORKERS = 4

# keras training
KERAS_TRAIN_CP_FREQ = 128  # batch generator checkpoint frequency (nb of sentences)

# keras testing
KERAS_TEST_MAXS = [1, 2, 3]
KERAS_TEST_CUTOFFS = [0.1, 0.2, 0.4, 0.6, 0.8, 0.9, 0.95]
KERAS_TEST_THRESHOLDS = [0.005, 0.01, 0.05, 0.1, 0.15, 0.2, 0.4]

# keras decoding
KERAS_DECODER = 'threshold'  # 'max' or 'top' or 'threshold'
KERAS_MAX_DECODER_NB = 1
KERAS_TOP_DECODER_NB = 0.7
KERAS_THRESHOLD_NB = 0.1

KERAS_TAG_CLEANER = 'O-prevail-or-remove'  # 'O-prevail-or-remove', 'remove-O-not-alone-and-less', 'remove-O-not-alone'

# class lists
# STANFORD
STANFORD_THREE_CLASS_LIST = ['LOC', 'PER', 'ORG', 'O', 'NIL']
STANFORD_FOUR_CLASS_LIST = ['LOC', 'PER', 'ORG', 'MISC', 'O', 'NIL']

# FIGER
FIGER_ONLY_TYPES = ['art', 'art.film', 'astral_body', 'award', 'biology', 'body_part', 'broadcast.tv_channel',
                    'broadcast_network', 'broadcast_program', 'building', 'building.airport', 'building.dam',
                    'building.hospital', 'building.hotel', 'building.library', 'building.power_station',
                    'building.restaurant', 'building.sports_facility', 'building.theater', 'chemistry',
                    'computer.algorithm', 'computer.programming_language', 'disease', 'education.department',
                    'education.educational_degree', 'event', 'event.attack', 'event.election',
                    'event.military_conflict', 'event.natural_disaster', 'event.protest', 'event.sports_event',
                    'event.terrorist_attack', 'finance.currency', 'finance.stock_exchange', 'food', 'game',
                    'geography.glacier', 'geography.island', 'geography.mountain', 'god', 'government.government',
                    'government.political_party', 'government_agency', 'internet.website', 'language', 'law',
                    'living_thing', 'livingthing.animal', 'location', 'location.body_of_water', 'location.bridge',
                    'location.cemetery', 'location.city', 'location.country', 'location.county', 'location.province',
                    'medicine.drug', 'medicine.medical_treatment', 'medicine.symptom',
                    'metropolitan_transit.transit_line', 'military', 'music', 'news_agency', 'newspaper',
                    'organization', 'organization.airline', 'organization.company',
                    'organization.educational_institution', 'organization.fraternity_sorority',
                    'organization.sports_league', 'organization.sports_team', 'organization.terrorist_organization',
                    'park', 'people.ethnicity', 'person', 'person.actor', 'person.architect', 'person.artist',
                    'person.athlete', 'person.author', 'person.coach', 'person.director', 'person.doctor',
                    'person.engineer', 'person.monarch', 'person.musician', 'person.politician',
                    'person.religious_leader', 'person.soldier', 'person.terrorist', 'play', 'product',
                    'product.airplane', 'product.camera', 'product.car', 'product.computer', 'product.engine_device',
                    'product.instrument', 'product.mobile_phone', 'product.ship', 'product.spacecraft',
                    'product.weapon', 'rail.railway', 'religion.religion', 'software', 'time', 'title', 'train',
                    'transit', 'transportation.road', 'visual_art.color', 'written_work']
FIGER_CLASS_LIST = FIGER_ONLY_TYPES + ['MISC', 'O', 'NIL']

FIGER_ONLY_OLD_TYPES = ['PERSON.POLITICIAN', 'EVENT.PROTEST', 'PARK', 'FINANCE.CURRENCY', 'LOCATION.PROVINCE',
                        'EVENT.ELECTION', 'PRODUCT.CAR', 'LOCATION.CEMETERY', 'LOCATION.BRIDGE', 'NEWS_AGENCY',
                        'ORGANIZATION.AIRLINE', 'RELIGION.RELIGION', 'PRODUCT.ENGINE_DEVICE', 'ART.FILM',
                        'LOCATION.COUNTRY', 'PERSON.ATHLETE', 'METROPOLITAN_TRANSIT.TRANSIT_LINE', 'RAIL.RAILWAY',
                        'EVENT.SPORTS_EVENT', 'BUILDING.THEATER', 'PRODUCT.INSTRUMENT', 'EVENT.TERRORIST_ATTACK',
                        'ORGANIZATION.SPORTS_LEAGUE', 'EDUCATION.DEPARTMENT', 'PRODUCT.AIRPLANE', 'BIOLOGY',
                        'LIVING_THING',
                        'BUILDING.AIRPORT', 'GAME', 'AWARD', 'PERSON', 'TRAIN', 'GOVERNMENT_AGENCY', 'BUILDING.DAM',
                        'BROADCAST_PROGRAM', 'LAW', 'GOVERNMENT.POLITICAL_PARTY', 'BUILDING.RESTAURANT',
                        'BUILDING.HOSPITAL', 'ORGANIZATION.TERRORIST_ORGANIZATION', 'GEOGRAPHY.GLACIER',
                        'COMPUTER.ALGORITHM', 'LOCATION.BODY_OF_WATER', 'LANGUAGE', 'BUILDING.LIBRARY',
                        'PERSON.TERRORIST',
                        'EVENT.MILITARY_CONFLICT', 'MEDICINE.SYMPTOM', 'LOCATION', 'MILITARY', 'PRODUCT.SHIP',
                        'WRITTEN_WORK', 'FOOD', 'BUILDING.POWER_STATION', 'INTERNET.WEBSITE', 'NEWSPAPER',
                        'PEOPLE.ETHNICITY', 'BUILDING.SPORTS_FACILITY', 'ASTRAL_BODY', 'BUILDING.HOTEL',
                        'COMPUTER.PROGRAMMING_LANGUAGE', 'TIME', 'FINANCE.STOCK_EXCHANGE', 'PERSON.AUTHOR', 'TITLE',
                        'PRODUCT.CAMERA', 'BROADCAST.TV_CHANNEL', 'TRANSPORTATION.ROAD', 'CHEMISTRY',
                        'GEOGRAPHY.ISLAND',
                        'PERSON.MONARCH', 'PERSON.MUSICIAN', 'PERSON.ACTOR', 'ORGANIZATION', 'EVENT.NATURAL_DISASTER',
                        'EVENT.ATTACK', 'PRODUCT.WEAPON', 'PERSON.ARCHITECT', 'MEDICINE.MEDICAL_TREATMENT',
                        'ORGANIZATION.FRATERNITY_SORORITY', 'LOCATION.COUNTY', 'PERSON.SOLDIER', 'PERSON.ARTIST',
                        'EDUCATION.EDUCATIONAL_DEGREE', 'TRANSIT', 'PERSON.ENGINEER', 'ORGANIZATION.SPORTS_TEAM',
                        'EVENT',
                        'GOVERNMENT.GOVERNMENT', 'PERSON.COACH', 'MEDICINE.DRUG', 'PRODUCT.MOBILE_PHONE',
                        'PERSON.DIRECTOR',
                        'LOCATION.CITY', 'ORGANIZATION.COMPANY', 'ORGANIZATION.EDUCATIONAL_INSTITUTION',
                        'BROADCAST_NETWORK', 'SOFTWARE', 'PLAY', 'GEOGRAPHY.MOUNTAIN', 'GOD', 'PERSON.RELIGIOUS_LEADER',
                        'DISEASE', 'LIVINGTHING.ANIMAL', 'MUSIC', 'BUILDING', 'PRODUCT', 'ART', 'BODY_PART',
                        'PRODUCT.SPACECRAFT', 'VISUAL_ART.COLOR', 'PERSON.DOCTOR', 'PRODUCT.COMPUTER']
FIGER_OLD_CLASS_LIST = FIGER_ONLY_OLD_TYPES + ['MISC', 'O', 'NIL']

FIGER_RAW_ONLY_TYPES = ['/art', '/art/film', '/astral_body', '/award', '/biology', '/body_part',
                        '/broadcast/tv_channel', '/broadcast_network', '/broadcast_program', '/building',
                        '/building/airport', '/building/dam', '/building/hospital', '/building/hotel',
                        '/building/library', '/building/power_station', '/building/restaurant',
                        '/building/sports_facility', '/building/theater', '/chemistry', '/computer/algorithm',
                        '/computer/programming_language', '/disease', '/education/department',
                        '/education/educational_degree', '/event', '/event/attack', '/event/election',
                        '/event/military_conflict', '/event/natural_disaster', '/event/protest', '/event/sports_event',
                        '/event/terrorist_attack', '/finance/currency', '/finance/stock_exchange', '/food', '/game',
                        '/geography/glacier', '/geography/island', '/geography/mountain', '/god',
                        '/government/government', '/government/political_party', '/government_agency',
                        '/internet/website', '/language', '/law', '/living_thing', '/livingthing/animal', '/location',
                        '/location/body_of_water', '/location/bridge', '/location/cemetery', '/location/city',
                        '/location/country', '/location/county', '/location/province', '/medicine/drug',
                        '/medicine/medical_treatment', '/medicine/symptom', '/metropolitan_transit/transit_line',
                        '/military', '/music', '/news_agency', '/newspaper', '/organization', '/organization/airline',
                        '/organization/company', '/organization/educational_institution',
                        '/organization/fraternity_sorority', '/organization/sports_league', '/organization/sports_team',
                        '/organization/terrorist_organization', '/park', '/people/ethnicity', '/person',
                        '/person/actor', '/person/architect', '/person/artist', '/person/athlete', '/person/author',
                        '/person/coach', '/person/director', '/person/doctor', '/person/engineer', '/person/monarch',
                        '/person/musician', '/person/politician', '/person/religious_leader', '/person/soldier',
                        '/person/terrorist', '/play', '/product', '/product/airplane', '/product/camera',
                        '/product/car', '/product/computer', '/product/engine_device', '/product/instrument',
                        '/product/mobile_phone', '/product/ship', '/product/spacecraft', '/product/weapon',
                        '/rail/railway', '/religion/religion', '/software', '/time', '/title', '/train', '/transit',
                        '/transportation/road', '/visual_art/color', '/written_work']
FIGER_RAW_CLASS_LIST = FIGER_RAW_ONLY_TYPES + ['MISC', 'O', 'NIL']

# CW
CW_TOP275_TYPES = ['american_football.football_coach', 'american_football.football_player',
                   'american_football.football_team', 'amusement_parks.park', 'amusement_parks.ride',
                   'architecture.architect', 'architecture.architectural_structure_owner',
                   'architecture.architectural_style', 'architecture.museum', 'architecture.structure',
                   'automotive.automotive_class', 'automotive.make', 'automotive.model',
                   'aviation.aircraft_manufacturer', 'aviation.aircraft_model', 'aviation.aircraft_owner',
                   'aviation.airline', 'aviation.airport', 'award.award', 'award.award_category',
                   'award.award_ceremony', 'award.award_nominated_work', 'award.award_nominee',
                   'award.award_presenting_organization', 'award.award_winner', 'award.award_winning_work',
                   'award.hall_of_fame', 'award.hall_of_fame_inductee', 'award.ranked_item', 'award.ranked_list',
                   'baseball.baseball_player', 'baseball.baseball_position', 'basketball.basketball_player',
                   'basketball.basketball_position', 'basketball.basketball_team', 'biology.animal_breed',
                   'biology.breed_origin', 'biology.organism', 'biology.organism_classification', 'book.author',
                   'book.book', 'book.book_character', 'book.book_subject', 'book.literary_series', 'book.newspaper',
                   'book.newspaper_owner', 'book.periodical', 'book.periodical_editor', 'book.periodical_publisher',
                   'book.written_work', 'broadcast.broadcast', 'broadcast.radio_station',
                   'broadcast.radio_station_owner', 'broadcast.tv_station', 'broadcast.tv_station_owner',
                   'business.board_member', 'business.brand', 'business.business_location',
                   'business.business_operation', 'business.consumer_company', 'business.consumer_product',
                   'business.employer', 'business.industry', 'business.job_title', 'business.shopping_center',
                   'business.sponsor', 'business.sponsored_recipient', 'celebrities.celebrity',
                   'comic_books.comic_book_character', 'comic_books.comic_book_creator',
                   'comic_books.comic_book_publisher', 'comic_books.comic_book_series', 'computer.operating_system',
                   'computer.programming_language', 'computer.software', 'computer.software_developer',
                   'computer.software_genre', 'computer.software_license', 'cvg.computer_videogame', 'cvg.cvg_designer',
                   'cvg.cvg_developer', 'cvg.cvg_genre', 'cvg.cvg_publisher', 'cvg.game_character', 'cvg.game_series',
                   'education.academic', 'education.educational_degree', 'education.educational_institution',
                   'education.educational_institution_campus', 'education.field_of_study', 'education.school',
                   'education.school_district', 'fictional_universe.character_species',
                   'fictional_universe.fictional_character', 'fictional_universe.fictional_character_creator',
                   'fictional_universe.fictional_employer', 'fictional_universe.fictional_organization',
                   'fictional_universe.fictional_setting', 'fictional_universe.fictional_universe', 'film.actor',
                   'film.cinematographer', 'film.director', 'film.editor', 'film.film', 'film.film_character',
                   'film.film_crewmember', 'film.film_distribution_medium', 'film.film_distributor',
                   'film.film_festival', 'film.film_genre', 'film.film_location', 'film.film_story_contributor',
                   'film.film_subject', 'film.music_contributor', 'film.person_or_entity_appearing_in_film',
                   'film.producer', 'film.production_company', 'film.writer', 'finance.currency', 'food.food',
                   'food.nutrient', 'geography.body_of_water', 'geography.island', 'geography.island_group',
                   'geography.lake', 'geography.mountain', 'geography.mountain_range', 'geography.river',
                   'government.government_agency', 'government.government_office_category',
                   'government.government_office_or_title', 'government.governmental_body',
                   'government.governmental_jurisdiction', 'government.political_appointer',
                   'government.political_district', 'government.political_party', 'government.politician',
                   'influence.influence_node', 'internet.website', 'internet.website_owner', 'language.human_language',
                   'language.language_family', 'law.court', 'law.invention', 'law.inventor', 'law.legal_case',
                   'location.administrative_division', 'location.capital_of_administrative_division',
                   'location.citytown', 'location.country', 'location.hud_county_place', 'location.location',
                   'location.neighborhood', 'location.place_with_neighborhoods', 'location.statistical_region',
                   'location.us_county', 'media_common.adaptation', 'media_common.adapted_work',
                   'media_common.literary_genre', 'media_common.netflix_genre', 'media_common.netflix_title',
                   'medicine.disease', 'medicine.drug', 'medicine.drug_ingredient', 'medicine.hospital',
                   'medicine.medical_treatment', 'medicine.notable_person_with_medical_condition',
                   'meteorology.cyclone_affected_area', 'meteorology.tropical_cyclone',
                   'metropolitan_transit.transit_line', 'metropolitan_transit.transit_stop', 'military.armed_force',
                   'military.military_combatant', 'military.military_commander', 'military.military_conflict',
                   'military.military_person', 'music.album', 'music.artist', 'music.composer', 'music.composition',
                   'music.conducted_ensemble', 'music.conductor', 'music.genre', 'music.group_member',
                   'music.instrument', 'music.lyricist', 'music.musical_group', 'music.performance_role',
                   'music.producer', 'music.record_label', 'music.recording', 'music.release',
                   'olympics.olympic_athlete', 'olympics.olympic_games', 'olympics.olympic_medal',
                   'olympics.olympic_participating_country', 'olympics.olympic_sport', 'opera.librettist',
                   'opera.opera', 'organization.membership_organization', 'organization.organization',
                   'organization.organization_founder', 'organization.organization_member',
                   'organization.organization_scope', 'organization.organization_sector', 'people.cause_of_death',
                   'people.deceased_person', 'people.ethnicity', 'people.family', 'people.family_member',
                   'people.person', 'people.place_of_interment', 'people.profession',
                   'periodicals.newspaper_circulation_area', 'protected_sites.governing_body_of_protected_sites',
                   'protected_sites.listed_site', 'protected_sites.natural_or_cultural_site_designation',
                   'protected_sites.protected_site', 'protected_sites.site_listing_category', 'religion.religion',
                   'royalty.kingdom', 'royalty.monarch', 'royalty.noble_person', 'royalty.noble_title',
                   'royalty.royal_line', 'soccer.football_league', 'soccer.football_player', 'soccer.football_team',
                   'soccer.football_team_manager', 'spaceflight.astronaut', 'spaceflight.space_agency',
                   'spaceflight.space_mission', 'sports.drafted_athlete', 'sports.pro_athlete',
                   'sports.professional_sports_team', 'sports.sport', 'sports.sport_country',
                   'sports.sports_award_type', 'sports.sports_award_winner', 'sports.sports_facility',
                   'sports.sports_league', 'sports.sports_position', 'sports.sports_team', 'sports.sports_team_captain',
                   'sports.sports_team_location', 'sports.tournament_event_competitor', 'symbols.name_source',
                   'symbols.namesake', 'tennis.tennis_tournament', 'tennis.tennis_tournament_champion', 'theater.play',
                   'theater.theater_actor', 'theater.theater_character', 'theater.theatrical_composer',
                   'theater.theatrical_lyricist', 'time.event', 'time.time_zone', 'transportation.bridge',
                   'transportation.road', 'travel.tourist_attraction', 'travel.travel_destination', 'tv.tv_actor',
                   'tv.tv_character', 'tv.tv_genre', 'tv.tv_network', 'tv.tv_personality', 'tv.tv_producer',
                   'tv.tv_program', 'tv.tv_program_creator', 'tv.tv_writer', 'venture_capital.venture_funded_company',
                   'venture_capital.venture_investor', 'visual_art.art_period_movement', 'visual_art.artwork',
                   'visual_art.visual_artist']
CW_TOP275_CLASS_LIST = CW_TOP275_TYPES + ['MISC', 'O', 'NIL']

TAG2VEC_CLASS_LIST = FIGER_OLD_CLASS_LIST
EVALUATION_CLASS_LIST = FIGER_OLD_CLASS_LIST
