# training generation (and other)
MAX_SENTENCE_LEN = 80

# word2vec settings
W2V_MIN_COUNT = 1
W2V_ITER = 10
W2V_SIZE = 300
W2V_WINDOW = 5
W2V_WORKERS = 4

# class lists
STANFORD_THREE_CLASS_LIST = ['LOC', 'PER', 'ORG', 'O', 'NIL']
STANFORD_FOUR_CLASS_LIST = ['LOC', 'PER', 'ORG', 'MISC', 'O', 'NIL']
# FIGER_ONLY_TYPES = types_lister.list_figer_types()
FIGER_ONLY_TYPES = ['PERSON.POLITICIAN', 'EVENT.PROTEST', 'PARK', 'FINANCE.CURRENCY', 'LOCATION.PROVINCE',
                    'EVENT.ELECTION', 'PRODUCT.CAR', 'LOCATION.CEMETERY', 'LOCATION.BRIDGE', 'NEWS_AGENCY',
                    'ORGANIZATION.AIRLINE', 'RELIGION.RELIGION', 'PRODUCT.ENGINE_DEVICE', 'ART.FILM',
                    'LOCATION.COUNTRY', 'PERSON.ATHLETE', 'METROPOLITAN_TRANSIT.TRANSIT_LINE', 'RAIL.RAILWAY',
                    'EVENT.SPORTS_EVENT', 'BUILDING.THEATER', 'PRODUCT.INSTRUMENT', 'EVENT.TERRORIST_ATTACK',
                    'ORGANIZATION.SPORTS_LEAGUE', 'EDUCATION.DEPARTMENT', 'PRODUCT.AIRPLANE', 'BIOLOGY', 'LIVING_THING',
                    'BUILDING.AIRPORT', 'GAME', 'AWARD', 'PERSON', 'TRAIN', 'GOVERNMENT_AGENCY', 'BUILDING.DAM',
                    'BROADCAST_PROGRAM', 'LAW', 'GOVERNMENT.POLITICAL_PARTY', 'BUILDING.RESTAURANT',
                    'BUILDING.HOSPITAL', 'ORGANIZATION.TERRORIST_ORGANIZATION', 'GEOGRAPHY.GLACIER',
                    'COMPUTER.ALGORITHM', 'LOCATION.BODY_OF_WATER', 'LANGUAGE', 'BUILDING.LIBRARY', 'PERSON.TERRORIST',
                    'EVENT.MILITARY_CONFLICT', 'MEDICINE.SYMPTOM', 'LOCATION', 'MILITARY', 'PRODUCT.SHIP',
                    'WRITTEN_WORK', 'FOOD', 'BUILDING.POWER_STATION', 'INTERNET.WEBSITE', 'NEWSPAPER',
                    'PEOPLE.ETHNICITY', 'BUILDING.SPORTS_FACILITY', 'ASTRAL_BODY', 'BUILDING.HOTEL',
                    'COMPUTER.PROGRAMMING_LANGUAGE', 'TIME', 'FINANCE.STOCK_EXCHANGE', 'PERSON.AUTHOR', 'TITLE',
                    'PRODUCT.CAMERA', 'BROADCAST.TV_CHANNEL', 'TRANSPORTATION.ROAD', 'CHEMISTRY', 'GEOGRAPHY.ISLAND',
                    'PERSON.MONARCH', 'PERSON.MUSICIAN', 'PERSON.ACTOR', 'ORGANIZATION', 'EVENT.NATURAL_DISASTER',
                    'EVENT.ATTACK', 'PRODUCT.WEAPON', 'PERSON.ARCHITECT', 'MEDICINE.MEDICAL_TREATMENT',
                    'ORGANIZATION.FRATERNITY_SORORITY', 'LOCATION.COUNTY', 'PERSON.SOLDIER', 'PERSON.ARTIST',
                    'EDUCATION.EDUCATIONAL_DEGREE', 'TRANSIT', 'PERSON.ENGINEER', 'ORGANIZATION.SPORTS_TEAM', 'EVENT',
                    'GOVERNMENT.GOVERNMENT', 'PERSON.COACH', 'MEDICINE.DRUG', 'PRODUCT.MOBILE_PHONE', 'PERSON.DIRECTOR',
                    'LOCATION.CITY', 'ORGANIZATION.COMPANY', 'ORGANIZATION.EDUCATIONAL_INSTITUTION',
                    'BROADCAST_NETWORK', 'SOFTWARE', 'PLAY', 'GEOGRAPHY.MOUNTAIN', 'GOD', 'PERSON.RELIGIOUS_LEADER',
                    'DISEASE', 'LIVINGTHING.ANIMAL', 'MUSIC', 'BUILDING', 'PRODUCT', 'ART', 'BODY_PART',
                    'PRODUCT.SPACECRAFT', 'VISUAL_ART.COLOR', 'PERSON.DOCTOR', 'PRODUCT.COMPUTER']
FIGER_CLASS_LIST = FIGER_ONLY_TYPES + ['MISC', 'O', 'NIL']

TAG2VEC_CLASS_LIST = FIGER_CLASS_LIST
EVALUATION_CLASS_LIST = FIGER_CLASS_LIST

# keras decoding
KERAS_DECODER = 'top'  # 'max' or 'top'
KERAS_MAX_DECODER_NB = 1
KERAS_TOP_DECODER_NB = 0.8

# keras training
KERAS_TRAIN_CP_FREQ = 10

# keras testing
KERAS_TEST_CUTOFFS = [0.1, 0.2, 0.4, 0.6, 0.8, 0.9, 0.95]
